<!-- Testimonial Start -->
        <div class="testimonial-area t-padding" data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
            <div class="container">
               <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-9 col-md-9">
                        <div class="h1-testimonial-active">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial pt-65">
                                <!-- Testimonial tittle -->
                                <div class="font-back-tittle mb-105">
                                    <div class="archivment-front">
                                        <img src="${properties.fileReferenceer}" alt="">
                                    </div>
                                    <h3 class="archivment-back">${properties.testimonial}</h3>
                                </div>
                                 <!-- Testimonial Content -->
                                <div class="testimonial-caption text-center">
                                    <p> ${properties.description}
                                    </p>
                                    <!-- Rattion -->
                                    <div class="testimonial-ratting">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="rattiong-caption">
                                        <span>${properties.author} <span>${properties.client}</span> </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
               </div>
            </div>
        </div>
<sly data-sly-call="${templates.placeholder @ isEmpty = !text}"></sly>
        <!-- Testimonial End -->