<div class="chat">
    <sly data-sly-test.siteName="${inheritedPageProperties.siteName}"/>
    <sly data-sly-test="${properties.enableLiveChat && siteName != 'hotlink-site'}">
        <sly data-sly-resource="${'/content/mxs/en/admin/modal/livechat/jcr:content/content/live_chat' @ resourceType='mxs/components/content/admin/live-chat', wcmmode='disabled'}"></sly>
    </sly>
    <sly data-sly-test="${siteName == 'hotlink-site'}">
        <sly data-sly-test="${properties.enableLiveChat}">
            <sly data-sly-resource="${'/content/hotlink/en/admin/modal/livechat/jcr:content/content/live_chat' @ resourceType='mxs/components/content/admin/live-chat', wcmmode='disabled'}"></sly>
        </sly>
        <sly data-sly-test="${properties.enableHotlinkTopUp}">
            <sly data-sly-resource="${'/content/hotlink/en/admin/modal/hotlink-topup/jcr:content/content/hotlink_top_up' @ resourceType='mxs/components/content/admin/hotlink-top-up', wcmmode='disabled'}"></sly>
        </sly>
    </sly>
    <div class="button-holder clearfix">
        <sly data-sly-test="${properties.enableLiveChat}">
            <a class="live-chat-icon" style="animation-duration: 5s;">
                <div class="img-icon-container">
                    <img class="img-fluid" src="${inheritedPageProperties.liveChatIcon}" alt=""/>
                </div>
            </a>
            <a class="circle-livechat-close">
                <i class="material-icons">
                    close
                </i>
            </a>
        </sly>
        <sly data-sly-test="${properties.enableHotlinkTopUp && siteName == 'hotlink-site'}">
            <a class="top-up-icon">
                <i class="material-icons"> add </i>
            </a>
            <a class="circle-topup-close"><i class="material-icons">close</i></a>
        </sly>
    </div>
</div>
