<div class="form-flex--hotlink">
    <div data-target="product-addons-wrapper" class="product-addons-wrapper" data-content-url="${properties.path}" data-filter-endpoint="/bin/api/flexCatalogue">
<div class="step-heading mt-4 mb-3"><div data-sly-resource="${'para1' @ resourceType='mxs/components/content/text'}"></div></div>

       <div class="d-flex justify-content-start">
           <div style="width: 400px;">
               <div class="dropdown-select form-group">
                   <select class="selectpicker" title="" name="product_list">
                   </select>
               </div>
           </div>
       </div>


       <div class="column-control type-h mb-2 mt-3 product-addons">
       </div>
       <p class="my-5"><em> <div data-sly-resource="${'para2' @ resourceType='mxs/components/content/text'}"></div> </em></p>

    </div>

    
</div>