<sly data-sly-test="${wcmmode.edit}">
    <div class="cq-placeholder cq-marker-start" data-emptytext="Related Question"></div>
</sly>

<sly data-sly-test.isNewTab="${currentstyle.isNewWindow?'_blank':''}"/>
<sly data-sly-list="${currentPage.parent.listChildren}">
	<sly data-sly-test.childList="${itemList.count}" />
</sly>

<sly data-sly-test="${childList > 1}">
    <div class="column-control ">
        <div class="row">
            <div class="col">
                <div class="listing-components pipe">
                    <h6>${!properties.title ? currentstyle.title : properties.title @context="html"}</h6>
                    <ul>
                        <sly data-sly-list="${currentPage.parent.listChildren}">
    
                            <sly data-sly-test="${item.path != currentPage.path}">
                                <li>
    
                                    <a href="${item.path}.html" target="${isNewTab?'_blank':currentstyle.isNewWindow}">${item.title}</a>
    
                                </li>
                            </sly>
                        
                        </sly>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</sly>

