/* top-margin issue fix in the dialog section part (e.g., form-container,imaeTile) */
.coral-Form-fieldset .coral-Form-fieldset-legend {
    margin-top: 0px!important;
}

/* Rich Text height issue with fix in all the form element components */

.coral-RichText-editable.coral-Form-field.coral-Textfield.coral-Textfield--multiline {
    height: 60%;
}


/* Rich Text Spacing issue with multifield in radio button */
.cq-dialog-floating .coral-Form-field.full-width.coral-Multifield {
    width: 596px;
}

